*
!.gitignore
!Program.cs
!Models.cs
!Tui.cs
!Selectors.cs
!VarSystem.cs
!ConfigStore.cs
!Runner.cs
!shrun.csproj
!README.md
!LICENSE
!test_drive.bat
!projects/
!projects/default/
!projects/default/config.json
!projects/default/config.tsv
!projects/default/vars/
!projects/default/vars/*.tsv
