*
!.gitignore
!Program.cs
!Models.cs
!Tui.cs
!Selectors.cs
!VarSystem.cs
!ConfigStore.cs
!Runner.cs
!shrun.csproj
!README.md
!LICENSE
!test_drive.bat
!projects/
!projects/default/
!projects/default/config.json
!projects/default/config.tsv
!projects/default/lists/
!projects/default/lists/*.tsv
!.github/
!.github/workflows/
!.github/workflows/*.yml
!shrun.Tests/
!shrun.Tests/*.cs
!shrun.Tests/*.csproj
!build-runner.sln
